.colorTema{
    background-color: #1e6588;
}

.tematitulo{
    font-family: 'Rubik Mono One', sans-serif;
}

.image-ini{
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12,0.5)),  url("/imagenes/pexels-cottonbro-4064816.jpg") no-repeat center center fixed;
	background-size:cover;
}

.estiloContenido{
    font-family: 'Roboto Mono', monospace;
}

.titulos{
    font-family: 'Paytone One', sans-serif;

}

.estiloOscuro{
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12,0.5));
}

.contenido{
    /* display: flex;
    align-items: center; */
    padding-top: 8%;
}

.margenContenedorGeneral{
    margin-top: 7%;
    padding-top: 30px;
}

.color-menu-lateral{
    background-color: #f7f7f7;
}

.color-menu-lateral:hover{
    background-color: #1e6588;
    color: #f7f7f7;
}

.color-fijo{
    background-color: #1e6588;
    color: #f7f7f7;
}

/* @media (max-width: 36em){

} */